*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
h1{
    margin-top: 20px;
}
table{
    margin-top: 20px;
    border-collapse:collapse;
}
td{
    border: 1px #DDDDDD solid;
}
.td1{
    width: 100px;
}
.td2{
    width: 180px;
}
.td3{
    width: 80px;
}
.zong{
    background-color: #990000;
    color: #FFFFCC;
    height: 40px;
}
.oneMoudle{
    height: 30px;
}