*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
h1{
    margin-top: 20px;
}
table{
    margin-top: 20px;
    border-collapse:collapse;
}
td{
    border: 1px #CC9966 solid;
}
.zong{
    background-color: #990000;
    color: #FFFFCC;
    height: 50px;
}
.td1{
    width: 100px;
}
.td2{
    width: 200px;
}
.oneMoudle{
    height: 40px;
}
input{
    width: 50%;
}
a{
    text-decoration: none;
    background-color: #E86537;
    color: white;
}
.submit{
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #E86537;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5%;
    border:0;
}